<!DOCTYPE html>
<html lang='en'>

<head>
    <base href="..">
    <link rel="shortcut icon" type="image/png" href="assets/favicon.png"/>
    <link rel="stylesheet" type="text/css" media="all" href="assets/main.css"/>
<!--     <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=default">
    </script> -->
    <meta name="description" content="Conference Template">
    <meta name="resource-type" content="document">
    <meta name="distribution" content="global">
    <meta name="KeyWords" content="Conference">
    <title>Program | Conference Template</title>
</head>

<body>

    <div class="banner">
        <img src="assets/banner.jpg" alt="Conference Template Banner">
        <div class="top-left">
            <span class="title1">{{ conference.title1 }}</span><span class="title2">{{ conference.title2 }}</span> <span class="year">{{ conference.year }}</span>
            <br><br>
            <span class="subtitle">{{ conference.subtitle }}</span>
        </div>
        <div class="bottom-right">
            {{ conference.event_date }}<br> {{ conference.location }}<br> {{ conference.extra_info }}
        </div>
    </div>


    <table class="navigation">
        <tr>
            <td class="navigation">
                <a title="Conference Home Page" href=".">Home</a>
            </td>
            <td class="navigation">
                <a title="Register for the Conference" href="registration">Registration</a>
            </td>
            <td class="navigation">
                <a class="current" title="Conference Program" href="program">Program</a> 
            </td>
            <td class="navigation">
                <a title="Directions to the Conference" href="directions">Directions</a>
            </td>
            <td class="navigation">
                <a title="Conference Flyer" href="flyer">Flyer</a>
            </td>
        </tr>
    </table>

    {% for day in days %}
    <h2>{{ day.display }}</h3>

    {% for activity in collections[day.id] | sort(false, false, "data.time") %}
    <table id="{{ activity.data.person }}"
           {% if activity.data.keynote %} class="plenary" {% endif -%}>
        <tr>
            <td class="date" rowspan="3">
                {{ activity.data.time }}
                {%if activity.data.location %}
                <br><a href={{ locations[activity.data.location].url }}>
                  {{ locations[activity.data.location].display }}</a>
                {% endif %}
            </td>
            <td {% if activity.data.special %} class="title-special" {% else %} class="title" {% endif -%}>
                {{ activity.data.title }}
            </td>
        </tr>
        <tr>
             <td class="abstract">
               {% if activity.templateContent %}
               {{ activity.templateContent | striptags(true)}}
               {% endif %}
               <ul>
                 {% for talk in activity.data.talks %}
                 <li {%- if activity.data.keynote %} class="keyspeaker" {% endif -%}>{{ talk.speaker }}. <i>{{ talk.title }}</i></li>
                 {% endfor %}
               </ul>
             </td>
        </tr>

        {% if activity.data.chair %}
        <tr>
          <td class="chair">
            Chair: {{ activity.data.chair }}
          </td>
        </tr>
        {% endif %}

    </table>
    {% endfor %}
    {% endfor %}

    <footer>
        &copy; Conference Organizers
        &nbsp;|&nbsp; Design by <a href="https://github.com/mikepierce">Mike Pierce</a>
    </footer>

</body>
</html>

