<div class="banner">
    <img src="assets/banner.jpg" alt="Conference Template Banner">
    <div class="top-left">
        <span class="title1">{{ conference.title1 }}</span><span class="title2">{{ conference.title2 }}</span> <span class="year">{{ conference.year }}</span>
        <br><br>
        <span class="subtitle">{{ conference.subtitle }}</span>
    </div>
    <div class="bottom-right">
        {{ conference.event_date }}<br> {{ conference.location }}<br> {{ conference.extra_info }}
    </div>
</div>
